p {color:black;}
@media (max-width: 8.5in) {
    p {color:black;}
}
article {
    display: grid;
    grid-template-columns: .5in [start] 1.25in 9in 1.25in [end] 1fr;
}
article * {grid-column: start/end;}
@media (max-width: 8.5in) {
    article {
        grid-template-columns: 5% [start] 15% 60% 15% [end] 1fr;
    }
}

#header {
    display: grid;
    grid-template-columns: 0.1in [start] 1.25in 9in 1.25in [end] 1fr;
    margin-top: 0.1in;
}
#header * {grid-column: start/end;}
@media (max-width: 8.5in) {
    #header {
        grid-template-columns: 1% [start] 15% 60% 15% [end] 1fr;
    }
}

#small {
    display: grid;
    grid-template-columns: 0.5in [start] 1.25in 9in 1.25in [end] 1fr;
}
#small * {grid-column: start/end;}
@media (max-width: 8.5in) {
    #small {
        grid-template-columns: 5% [start] 15% 60% 15% [end] 1fr;
    }
}

#big {
    display: grid;
    grid-template-columns: 0.5in [start] 1.25in 9in 1.25in [end] 1fr;
}
#big * {grid-column: start/end;}
@media (max-width: 8.5in) {
    #big {
        grid-template-columns: 5% [start] 15% 60% 15% [end] 1fr;
    }
}