_imgs/
animation/
2012/gifs/
golden-bullet/gifs/
permaburnouts/img/
human-animal-alphabet/img/
permanent-record/gifs/
louis-vuitton/img/
ten/gifs/
drawings/img/
shimmering-bodies/img/
blog/anime-road/gifs/
blog/file-organization/img/
blog/file-versioning/img/
blog/pan-tilt-track/img/
blog/quickfilm/img/
blog/rotating-camera/img/
blog/text-to-image/img/