<article class = "folder-links">
    <!--<h2 >diary</h2>-->
    <ul>
    <h2 id = work-headers>BLOG</h2>

    <a class="writing" href="../../blog/text-to-image/">text-to-image gans</a> • 
    <a class="writing" href="../../blog/xsheets-1">x-sheets pt.1</a> • 
    <a class="writing" href="../../blog/quickfilm/">quickfilm</a> • 
    <a class="writing" href="../../blog/making-cel-cartoons">making cel cartoons</a> • 
    <a class="writing" href="../../blog/rotating-camera/">faking a rotating camera</a> • 
    <a class="writing" href="../../blog/brians-pans">brian's pans</a> • 
    <a class="writing" href="../../blog/pan-tilt-track/">pan, tilt and track</a> • 
    <a class="writing" href="../../blog/anime-road">focal length and the 90's anime road</a> • 
    <a class="writing" href="../../blog/file-organization">file trees</a> • 
    <a class="writing" href="../../blog/file-versioning">file versioning</a>
    </ul>
</article>