<article class = "folder-links">
    <!--<h2 >diary</h2>-->
    <ul>
    <h2 id = work-headers>BLOG</h2>

    <a href="../blog/text-to-image/">TEXT-TO-IMAGE GANS</a>
    <br><a href="../../blog/xsheets-1">XSHEETS pt.1</a>
    <br><a href="../blog/quickfilm/">QUICKFILM</a>
    <br><a href="../../blog/making-cel-cartoons">MAKING CEL CARTOONS</a>
    <br><a href="../blog/rotating-camera/">FAKING A ROTATING CAMERA</a>
    <br><a href="../../blog/brians-pans">BRIAN'S PANS</a>
    <br><a href="../../blog/live-action-pans">PAN, TILT, AND TRACK</a>
    <br><a href="../../blog/anime-road">FOCAL LENGTH AND THE 90'S ANIME ROAD</a>
    <br><a href="../../blog/file-organization">FILE TREES</a>
    <br><a href="../../blog/file-versioning">FILE VERSIONING</a>
    </ul>
</article>