<article class = "folder-links">
    <!--<h2 >diary</h2>-->
    <ul>
    <h2 id = work-headers>PERSONAL WORK</h2>
         <a href = "../../human-animal-alphabet">HUMAN ANIMAL ALPHABET</a> 
         <br> <a href = "https://wfmu.org/playlists/shows/155006">WFMU</a>
         <!--<br> <a href = "../../shimmering bodies">SHIMMERING BODIES</a>-->
         <!--<br> <a href = "https://vimeo.com/892440800">THE FROGS WHO DESIRED A KING</a>-->
    <br> <a href = "../../2012">2012</a>
    <br> <a href = "https://tv.booooooom.com/2016/04/27/video-69-by-ingo-raschka/">VIDEO 69</a>

    <h2 id = work-headers>COMMERCIAL WORK</h2>
    <a href = "https://www.youtube.com/watch?v=OGvy0sJfSMo">WHAT IT'S LIKE TO SEE SOUND</a>
    <br> <a href = "https://www.youtube.com/watch?v=vW2w-I08z6s">PERMANENT RECORD</a>
    <br> <a href = "astudio/">ASTUDIODIGITAL</a>
    <br> <a href = "https://flatworldtoons.co.uk/wastemen">WASTEMEN</a>
    <br> <a href = "https://www.youtube.com/watch?v=YYYG5XGG3mk">LOUIS VUITTON</a>
    <br> <a href = "https://www.youtube.com/watch?v=zesyLVJZBX8">OFF THE AIR</a>
    <br> <a href = "https://ingoraschka.tumblr.com/post/703386297907249152/i-character-designed-for-henrytheworsts-lazor">LAZOR WULF</a>
    </ul>
</article>
<article></article>