<article class = "folder-links">
    <!--<h2 >diary</h2>-->
    <h2 id = work-headers>WORKS</h2>
    <ul>
    <a class = "video" href="../../permaburnouts">PERMABURNOUTS: GENITALS OF GOD</a> • 
    <a class ="other" href = "../../human-animal-alphabet">HUMAN ANIMAL ALPHABET</a> •  
    <a class = "other" href = "https://wfmu.org/playlists/shows/155006">WFMU</a> • 
    <!-- <a href = "../../shimmering bodies">SHIMMERING BODIES</a> • -->
    <a class = "video" href = "https://vimeo.com/892440800">THE FROGS WHO DESIRED A KING</a> • 
    <a class = "other" href = "../../shimmering-bodies">SHIMMERING BODIES</a> • 
    <a class = "video" href = "../../2012">2012</a> • 
    <a class="other" href="../../drawings">DRAWN WORK 1</a> • 
    <a class = "video" href = "../../golden-bullet">GOLDEN BULLET OF L.O.V.E.</a> • 
    <a class = "video"  href = "https://tv.booooooom.com/2016/04/27/video-69-by-ingo-raschka/">VIDEO 69</a> • 
    <a class="other" href = "../../ten">TEN</a> • 
    <a class = "video" href = "https://www.youtube.com/watch?v=OGvy0sJfSMo">WHAT IT'S LIKE TO SEE SOUND</a> • 
    <a class = "video" href = "../../permanent-record">PERMANENT RECORD</a> • 
    <!-- <a href = "astudio/">ASTUDIODIGITAL</a> • -->
    <a class = "video" href = "https://flatworldtoons.co.uk/wastemen">WASTEMEN</a> • 
    <a class = "video" href = "../louis-vuitton/">LOUIS VUITTON</a> • 
    <a class = "video" href = "https://www.youtube.com/watch?v=zesyLVJZBX8">OFF THE AIR</a> • 
    <a class="other" href = "https://ingoraschka.tumblr.com/post/703386297907249152/i-character-designed-for-henrytheworsts-lazor">LAZOR WULF</a>
    </ul>
</article>