	
	
	html { font-size: 160%; }
	/*CURSOR*/
	html { cursor: url('path/to/your.ico'), default; }
	body { background-color: #fff2eb; }
	/* Larger font size for mobile devices */
	@media only screen and (max-width:767px) { html { font-size:200%; } body {background-color:#fff992;} }
	bg * { color: #fff2eb; }
	h2,p:not(:last-child) { margin-bottom: 0.8rem; }
	article {margin-top: 0.5rem;}
	h1   { font: bold 0.9rem "Helvetica"; } 	/*DOLL•MATH*/
	h2   { font: bold 0.9rem "Helvetica"; margin-bottom: 0.0rem; } /* black, bold */
	h3   { font: 300  0.9rem /*0.63rem */ "Helvetica"; margin-bottom:0rem; line-height:1.1; color:#FF00FD } /* LINKS */
	h4   { font: 400  1.1rem "Helvetica"; background-color:dimgrey; color: springgreen; margin-bottom: 0.1rem; } /* green on black box- for little "examples" */
	h5   { font: 400  1.0rem "Helvetica"; background-color:blue; color:white; } /* White on blue-- the directory, links, whatever... */
	h6   { font: 400  1.5rem "Helvetica"; background-color:black; color:yellow; } /* Yellow on yellow- see how this pans out lol */ 
	
	time { font: 400  1.4rem  "Helvetica"; color:blue; margin-bottom:0.5rem;}
	p    { font: 300  0.63rem  "Helvetica"; margin-bottom:0rem; line-height:1.1;  text-align: justify; text-justify: inter-word;}
	time { font: bold  0.8rem "Helvetica"; margin-bottom: 1.0rem; color:#0006FF; }
	img  { margin-bottom: 0.0rem; margin-top:0.0rem;}
	a:hover { display: inline-block; color:black; background-color:#EAFF1D;}
	/*a:visited { background-color:#777; }*/
	
	#p1 { font: 400 0.6rem "Helvetica"; line-height:1.1;}
	#p2 { font: 400 1.0rem "Helvetica"; color:blue;}
	.blueText { color: #FF00FD; background-color: black; }
	div.ex1 { height:500px; overflow:scroll; }   

	.clicky { padding-left: 5%; display: inline-block; margin:0;}
	
	*{ box-sizing: border-box; }
	/* three equal columns */
	.column { float: left; width: 33.33%; padding: 0px; }
	/* two equal columns */
	.column2 { float: left; width: 50%; padding: 0px; }
	/* Clear floats after the columns */
	.row:after { content: ""; display: table; clear: both; }

	.folder-links, .dot-separator { font: 300  0.7rem  "Helvetica"; margin-bottom:0rem; line-height:1.1; color:#FF00FD; }

	.link { text-decoration: none; cursor: pointer; }
	.links { color:magenta; }

	.folder-link.clicked { color: #b1b1b1ff; }
	
	/*key*/
	.video { color:rgb(91, 185, 185); }
	.text { color:rgb(41, 173, 100); }
	.text { color:rgb(247, 83, 178); }
	.audio { color:rgb(240, 7, 7); }
	.object { color:rgb(85, 85, 85); }
	.other { color:rgb(95, 223, 45); }

